/* As close to Monokai as possible */
body {
	background: #19191b;
	color: #c3c3c3;
}
pre {
	background-color: #282923;
	font-family: consolas;
	padding: 1em;
	border-radius: 15px;
	line-height: 1.3em;
    font-size: 13px;
}
.n, .nn, .p, .vm { /* normal names */
	color: #f8f8f2; /* white */
}
.k, .kn, .o, .ow, .sr, .nt { /* normal keyword; "import", "as"; operator.word; special regex */
	color: #f92b50; /* red */
}
.kd, .kt, .ne, .sa {/* "class" and "def"; type; exception; r'' */
	color: #67d8da; /* blue */
	font-style: italic
}
.nd, .nb, .nfc, .fm { /* decorator; builtins; function called */
 	color: #67d8da; /* blue */
 }
.sd, .c1, .err, .c, .cp { /* hash comment */
	color: #747053; /* grey */
}
.mi, .mf, .kc, .se, .si, .srb { /* integers, floats, constant keyword, string.escape */
	color: #ac80ff; /* purple */
}
.s, .s1, .s2 { /* str */
	color: #e7db74; /* yellow */
}
.bp, .ka { /* "self", keyword arguments */
	color: #fd7e2f; /* orange */
	font-style: italic;
}
.nc, .nf, .na { /* name of class; function; htmlTagAttribute */
	color: #a6e22f; /* green */
	}
